* {
    overflow-wrap: anywhere;
    /* border: 1px red solid; */
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lora&display=swap');

@font-face {
    font-family: "Whirly Birdie";
    src: url(./fonts/WhirlyBirdieVariable.ttf);
}
/* @font-face {
    font-family: "Lora";
    src: url(./fonts/Lora-VariableFont_wght.ttf);
    font-display: swap;
} */

:root {
    --text-width: 35rem;
    --gap: min(1.5rem, 2vw);



    --primary-900: hsla(260, 66%, 23%, 1);
    --primary-800: hsla(261, 59%, 30%, 1);
    --primary-700: hsla(261, 56%, 38%, 1);
    --primary-600: hsla(261, 53%, 48%, 1);
    /* --primary-600: #673abb; */
    --primary-500: hsla(261, 69%, 59%, 1);
    --primary-400: hsla(261, 92%, 72%, 1);
    --primary-300: hsla(265, 100%, 80%, 1);
    --primary-200: hsla(267, 100%, 86%, 1);
    --primary-100: hsla(285, 100%, 97%, 1);

    --prim-900: #393856;
    --prim-800: #46476F;
    --prim-700: #565B8E;
    --prim-600: #646EAD;
    --prim-500: #7586D6;
    --prim-400: #92A0E8;
    --prim-300: #AFB9EF;
    --prim-200: #CCD3F5;
    --prim-100: #EAEDFB;

    --acc-prim-000: #F9FAFF;
    --acc-prim-100: #EAEDFF;
    --acc-prim-200: #CBD2FE;
    --acc-prim-300: #B1B9F1;
    --acc-prim-400: #9CA1D2;
    --acc-prim-500: #8688B0;
    --acc-prim-600: #6F6F90;
    --acc-prim-700: #5D5C77;
    --acc-prim-800: #4B495D;
    --acc-prim-900: #3B3948;




    /* --shadow-color: rgba(0, 0, 255, .2); */
    --shadow-color: #c3c8ff;
    /* --shadow-color: var(--primary-300); */
    --shadow-color-dark: #9B5FE3;
    /* --shadow-color-dark: var(--primary-400); */
    --background-color: rgba(244, 250, 255, 0.95);

    --background-color-dark: rgb(40, 40, 40);
    --background-color-darkish: rgb(50, 50, 50);
    --link-color-dark: hsla(267, 100%, 86%, 1);

    --background-color-light: rgb(250, 248, 255);
    /* --link-color: rgb(138, 43, 226); */
    --link-color: var(--primary-600);


}
body {
    font-family: Inter, Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
    color: #111111;
}
h1 {
    font-family: "Whirly Birdie", Helvetica, Arial, sans-serif;
}
h1 {
    font-size: clamp(1.5rem, 1.3235rem + 0.9412vw, 2.5rem);
    line-height: 3rem;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: Lora, serif;
}
h2 {
    font-size: 2rem;
}
body {
    background-color: var(--background-color);
}
main {
    margin: 50px auto 0 auto;
    width: 100%;
}





/* ----- NAV -----  */
header {
    text-align: center;
    /* background-color: var(--background-color); */
    position: absolute;
    z-index: 10;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    /* column-gap: 1rem; */
    /* padding: 0 1rem; */
}

header h1 {
    grid-column: 2/3;
}

.nav-top {
    position: absolute;
    text-align: center;
    top: 100%;
    right: 0;
    background: var(--background-color);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-top a {
    text-decoration: none;
    font-size: 1.2rem;
    /* text-transform: uppercase; */
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    margin-bottom: 1rem;
}

/* ----- hamburger stuff ----- */

.nav-toggle {
    display: none;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    grid-column: 3 / 4;
}

.nav-toggle-label {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 1rem;
}

.nav-toggle-label span, 
.nav-toggle-label span::before, 
.nav-toggle-label span::after {
    display: block;
    background: var(--link-color);
    height: 2px;
    width: 1.5rem;
    border-radius: 2px;
    position: relative;
    transition: transform 500ms;

}

.nav-toggle-label:hover {
    cursor: pointer;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

/* ----- HAMBURGER ANIMATION  ----- */

.nav-toggle:checked ~ .nav-toggle-label-container .nav-toggle-label span::before {
    transform: translateY(7px) rotate(45deg);
}
.nav-toggle:checked ~ .nav-toggle-label-container .nav-toggle-label span {
    background: transparent;
}
.nav-toggle:checked ~ .nav-toggle-label-container .nav-toggle-label span::after {
    transform: translateY(-7px) rotate(-45deg);
}



/* ----- DESKTOP MEDIA QUERY ----- */

@media screen and (min-width: 1000px) {
    .nav-toggle-label-container {
        display: none;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        width: 100%;
    }
    .nav-top {
        all: unset;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .nav-top a {
        opacity: 1;
        font-size: 1rem;
    }
    .nav-desk-hide {
        display: none;
    }
    header .bms {
        margin-left: 1rem;
    }
}



/* ----- COVER IMAGE ----- */

.cover-image {
    height: 99vh;
    height: 99svh;
    background-color: inherit;
    display: grid;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    position: relative;
    /* border: 2px green solid; */
}
.cover-image-attr {
    /* display: block; */
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4;

}
.cover-image h1 {
    z-index: 2;
}
.cover-image picture{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    /* border: 1px red solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.cover-image img {
    min-height: 100%;
    max-width: none;
}
.cover-video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
video {
    max-width: 100%;
}

.cover-image h1 {
    font-size: clamp(1.5rem, 1.0588rem + 2.3529vw, 4rem);
    text-align: center;
}
.cover-image a {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding: 0 0.5rem;

}
.page-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    gap: 1rem;
    /* padding-right: 1rem; */
}

.nav-item {
    border-radius: 5px;
    padding: 0 0.5rem;
    overflow-wrap: break-word;
}
.nav-right {
    justify-self: end;
}
/* .nav-item:hover {
    background-color: white;
} */
/* .nav-item:active {
    background-color: var(--shadow-color);
} */

.post-content > .page-nav {
    margin-top: 10rem;
}
.page-nav button {
    padding: 0;
    text-align: left;
}
.page-nav .nav-item:last-of-type {
    width:fit-content;
    text-align: right;
}
.site-nav {
    display: none;
}

@media (max-width: 500px) {
    .cover-image {
        height: 50vh;
        height: 50svh;
    }
    header nav {
        display: none;
    }
    header {
        justify-content: center;
    }
    .indexDate {
        display: block;
    }
    .cover-image-attr {
        font-size: 0.8rem;
    }    
    .page-nav {
        flex-direction: column;
        align-items: center;
    }
}


/* ----- posts ----- */
.footer-grid-container {
    height: 100vh;
    height: 100svh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    justify-items: start;
}

.post-container {
    margin: 0 auto;
    /* margin-top: 4rem; */
    /* padding: 0 1rem; */
    padding: 0;
}
.post-content {
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.post-content p,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6
{
    padding: 0 1rem;
}
.post-content > * {
    margin: 2rem auto 0;
}
.post-content > *:not(.med-width, .full-width, .custom-width){
    max-width: var(--text-width);
}

.med-width {
    margin: 4rem auto;
    max-width: 60rem;
}

.full-width {
    margin: 4rem auto;
}

.small-image {
    max-width: 75%;
}
blockquote {
    margin-left: 2rem;
}
.quote-largetext {
    font-family: Lora, serif;
    font-size: 1.25rem;
    padding: 1rem;
    border-left: 5px var(--shadow-color-dark) solid;
    background-color: rgba(255, 255, 255, 0.5);
}
iframe{
    max-width: 100%;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.min-size {
    width: fit-content;
}
.align-right {
    text-align: right;
}
.post-container picture,
.post-container iframe,
video,
.horizontal-scroll {
    box-shadow: -10px 10px 0px 0px var(--shadow-color);
    /* margin-bottom: 0.5rem; */
}
.no-shadow {
    box-shadow: none !important;
}



figcaption,
.authorDate,
.indexDate {
    font-family: "Courier New", monospace;
    margin-top: 0;
    font-size: .8rem;
}

.post-container picture + figcaption,
.post-container iframe + figcaption,
video + figcaption {
    margin-top: 0.2rem;
}

.author {
    font-weight: 600;
}
a {
    color: var(--link-color);
    text-decoration: none;
}
cite {
    font-size: 0.8rem;
}
aside {
    /* font-size: 0.8rem; */
    background-color: var(--background-color-light);
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
}
ol li {
    list-style: decimal;
}
/* .text-fade {
    color: #000000;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
.text-fade.out {
    background-image: -webkit-linear-gradient(0deg, #000000 0%, transparent 100%);
}
.text-fade.in {
    background-image: -webkit-linear-gradient(180deg, #000000 0%, transparent 100%);
} */
.nav-box {
    background-color: white;
    padding: 10px 20px;
    border: black 1px solid; 
    line-height:2rem;
}

.newsletter {
    text-align: left;
    margin: 5rem auto 0;
    border: 1px solid black;
    padding: var(--gap);
}
.newsletter * {
    margin-top: 0.5rem;
}
.newsletter label,
.newsletter input {
    margin-left: 1rem;
}
.newsletter label {
    display: none;
}


/* ----- index ----- */
.index-content {
    margin-top: 2rem;
    padding: 0 2rem;
}
.index-container {
    height: 100vh;
    height: 100svh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45% auto 1fr 1fr;
    justify-items: center;
    align-items: end;
    background-color: var(--background-color);
    gap: 1rem;
}
.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    align-self: center;
    padding: 1rem;
    text-align: center;
}
.huge-title {
    font-size: clamp(4rem, 3.6471rem + 1.8824vw, 6rem);
    text-align: center;
    line-height: 3.5rem;
    padding: 1rem;
    /* background-image: linear-gradient(180deg, rgb(255, 123, 0) 0%, rgb(138, 43, 226) 70%); */
    /* background-size: 100% 200%; */
    /* border-radius: 0.4rem; */
    /* animation: pulse 1s ease-in-out infinite; */
    /* transition: background-position-y 2s ease-in-out; */

    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: var(--primary-600);
    background-image: url('/images/pengo-purp5.jpg');
    background-size: cover;
    background-position-y: 30%; */
}
.bms {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: var(--primary-600);
    background-image: url('/images/pengo-purp5.jpg');
    background-size: cover;
    background-position-y: 30%;
}
header .bms {
    font-size: clamp(1.4rem, 1.1905rem + 1.0476vw, 2.5rem);
    white-space: nowrap;
}
.bms h1 {
}
@keyframes pulse {
    0%,
    100% {
    }
    50% {
        background-size: 200%;
    }
}
.subtitle {
    align-self: start;
}
.all-posts {
    align-self: start;
    /* margin-top: 2rem; */
    padding: 0 1rem;
}
.snippet {
    margin-left: 2rem;
}

.title {
    justify-self: center;

}
.title-image-post {
    max-height: 70px;
}


/* ----- FOOTER ----- */
footer {
    margin-top: 4rem;
    padding: 0.5rem;
    background-color: var(--prim-200);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
footer form {
    margin: 0;
}
footer input {
    margin-top: 0;
}
.footer-links {
    display: flex;
    gap: 1rem;
    align-items: center;
}
button {
    color: black;
    background-color: white;
    opacity: .8;
    border-radius: 10px;
    border: 1px black solid;
    padding: 0 12px;
    cursor: pointer;
}
button:hover {
    background-color: whitesmoke;
}
button:disabled {
    opacity: 0.5;
}

.rss-icon {
    border-radius: 5px;
    height: 20px;
    width: 20px;
}

/* ----- ABOUT ----- */

.about-grid-container {
    display: grid;
    height: 100vh;
    height: 100svh;
    grid-template-rows: auto 1fr auto;
}
.about-page {
    margin: 3rem auto 0;
    padding: var(--gap);
    max-width: var(--text-width);
}
.about-page p {
    margin-top: 1rem;
}
.about-page h1 {
    text-align: center;
}
.img-center {
    margin: 2rem auto 2rem;
    width: fit-content;
}

.fade-in {
    /* opacity: 0; */
    transition: opacity 3s 500ms;
}
.fade-in-once {
    /* opacity: 0; */
    transition: opacity 1s 1s;
}
.fade-in.animate {
    opacity: 1;
}

.social-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 0;
}

.social-icon {
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

/* ----- DARK MODE ----- */
@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-color-dark);
        color: white;
    }

    .index-container {
        background-color: var(--background-color-dark);
    }

    iframe {
        background-color: var(--background-color);
    }

    a {
        color: var(--link-color-dark);
    }

    /* .nav-item:hover {
        background-color: var(--background-color-darkish);
    } */

    .quote-largetext {
        background-color: var(--background-color-darkish);
    }

    header .bms,
    .huge-title.bms {
        background-color: var(--link-color-dark);
        /* background-image: none; */
    }

    footer {
        background-color: var(--background-color-darkish);
    }
    
    /* .newsletter input {
        background-color: var(--background-color-dark);
        color: white;
        border: 1px white solid;
        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem;
    }
    .newsletter ::placeholder {
        color: white;
        opacity: .7;
    } */

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        background-color: var(--link-color-dark);
    }

    .nav-top {
        background-color: var(--background-color-dark);
    }

    .nav-box,
    aside {
        background-color: var(--background-color-darkish);
    }
    .post-container picture,
    .post-container iframe,
    video {
        box-shadow: -10px 10px 0px 0px var(--shadow-color-dark);
        opacity: 0.9;
    }
    .scroll-container picture {
        opacity: 1;
    }


}