* {
    overflow-wrap: anywhere;
    /* border: 1px red solid; */
}

@font-face {
    font-family: "Whirly Birdie";
    src: url(./fonts/WhirlyBirdieVariable.ttf);
}
@font-face {
    font-family: "Lora";
    src: url(./fonts/Lora-VariableFont_wght.ttf);
}

:root {
    --text-width: 40rem;
    --gap: min(1.5rem, 2vw);

    --shadow-color: rgba(0, 0, 255, .2);
    /* --shadow-color: var(--primary-300); */
    --shadow-color-dark: rgba(138, 43, 226, 0.5);
    /* --shadow-color-dark: var(--primary-400); */
    --background-color: rgb(244, 250, 255);
    --background-color-light: rgb(250, 248, 255);
    /* --link-color: rgb(138, 43, 226); */
    --link-color: var(--primary-600);

    --primary-900: hsla(260, 66%, 23%, 1);
    --primary-800: hsla(261, 59%, 30%, 1);
    --primary-700: hsla(261, 56%, 38%, 1);
    --primary-600: hsla(261, 53%, 48%, 1);
    /* --primary-600: #673abb; */
    --primary-500: hsla(261, 69%, 59%, 1);
    --primary-400: hsla(261, 92%, 72%, 1);
    --primary-300: hsla(265, 100%, 80%, 1);
    --primary-200: hsla(267, 100%, 86%, 1);
    --primary-100: hsla(285, 100%, 97%, 1);

    --prim-900: #393856;
    --prim-800: #46476F;
    --prim-700: #565B8E;
    --prim-600: #646EAD;
    --prim-500: #7586D6;
    --prim-400: #92A0E8;
    --prim-300: #AFB9EF;
    --prim-200: #CCD3F5;
    --prim-100: #EAEDFB;

    --acc-prim-000: #F9FAFF;
    --acc-prim-100: #EAEDFF;
    --acc-prim-200: #CBD2FE;
    --acc-prim-300: #B1B9F1;
    --acc-prim-400: #9CA1D2;
    --acc-prim-500: #8688B0;
    --acc-prim-600: #6F6F90;
    --acc-prim-700: #5D5C77;
    --acc-prim-800: #4B495D;
    --acc-prim-900: #3B3948;
}
body {
    font-family: Inter, Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
}
h1 {
    font-family: "Whirly Birdie", Helvetica, Arial, sans-serif;
}
h1 {
    font-size: clamp(1.7rem, 1.5588rem + 0.7529vw, 2.5rem);
    line-height: 3rem;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: Lora, serif;
}
h2 {
    font-size: 2rem;
}
body {
    background-color: var(--background-color);
}
main {
    margin: 0 auto;
    width: 100%;
}




/* ----- nav and cover image -----  */
.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cover-image {
    height: 99vh;
    background-color: inherit;
    display: grid;
    align-items: center;
    justify-items: center;
}
.cover-video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
video {
    max-width: 100%;
}
@media (max-width: 500px) {
    .cover-image {
        height: 50vh;
    }
    .top-bar nav {
        display: none;
    }
    .top-bar {
        justify-content: center;
    }
    .indexDate {
        display: block;
    }
}
.cover-image h1 {
    font-size: clamp(1.5rem, 1.0588rem + 2.3529vw, 4rem);
    text-align: center;
}
.cover-image a {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding: 0 0.5rem;

}
.page-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding-right: 1rem;
}
.nav-item {
    /* border: 1px solid var(--shadow-color); */
    border-radius: 5px;
    padding: 0 0.5rem;
}
.nav-item:hover {
    background-color: white;
}
.nav-item:active {
    background-color: var(--shadow-color);
}
@media (max-width: 1000px) {
    .top-bar .page-nav {
        display: none;
    }
}
.post-content > .page-nav {
    margin-top: 5rem;
}
.nav-item:last-of-type {
    width:fit-content;
    text-align: right;
}
.site-nav {
    display: none;
}



/* ----- posts ----- */
.footer-grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    justify-items: start;
}

.post-container {
    margin: 0 auto;
    /* margin-top: 4rem; */
    max-width: 60rem;
    padding: 0 1rem;
}
.post-content {
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.post-content > * {
    margin: 1.5rem auto 0;
}
.post-content > *:not(.full-width){
    max-width: var(--text-width);
}
.full-width {
    margin: 4rem auto;
}
blockquote {
    margin-left: 2rem;
}
.quote-largetext {
    font-family: Lora, serif;
    font-size: 1.25rem;
    padding: 1rem;
    border-left: 5px var(--shadow-color-dark) solid;
    background-color: rgba(255, 255, 255, 0.5);
}
iframe{
    max-width: 100%;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.min-size {
    width: fit-content;
}
.align-right {
    text-align: right;
}
.post-container img,
.post-container iframe {
    box-shadow: 3px 3px 0px 1px var(--shadow-color);
}
figcaption,
.authorDate,
.indexDate {
    font-family: "Courier New", monospace;
    margin-top: 0 !important;
    font-size: .8rem;
}
.author {
    font-weight: 600;
}
a {
    color: var(--link-color);
    text-decoration: none;
}
cite {
    font-size: .8rem;
}



/* ----- index ----- */
.index-content {
    margin-top: 2rem;
    padding: 0 2rem;
}
.index-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45% auto 1fr 1fr;
    justify-items: center;
    align-items: end;
    background-color: var(--background-color);
    gap: 1rem;
}
.about {
    align-self: center;
    padding: 1rem;
}
.huge-title {
    font-size: clamp(4rem, 3.6471rem + 1.8824vw, 6rem);
    text-align: center;
    line-height: 3.5rem;
    padding: 1rem;
    /* background-image: linear-gradient(180deg, rgb(255, 123, 0) 0%, rgb(138, 43, 226) 70%); */
    /* background-size: 100% 200%; */
    /* border-radius: 0.4rem; */
    /* animation: pulse 1s ease-in-out infinite; */
    /* transition: background-position-y 2s ease-in-out; */

    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: var(--primary-600);
    background-image: url('/images/pengo-purp5.jpg');
    background-size: cover;
    background-position-y: 30%; */
}
.bms {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: var(--primary-600);
    background-image: url('/images/pengo-purp5.jpg');
    background-size: cover;
    background-position-y: 30%;
}
@keyframes pulse {
    0%,
    100% {
    }
    50% {
        background-size: 200%;
    }
}
.subtitle {
    align-self: start;
}
.all-posts {
    align-self: start;
    /* margin-top: 2rem; */
    padding: 0 1rem;
}
.snippet {
    margin-left: 2rem;
}

.title {
    justify-self: center;

}
.title-image-post {
    max-height: 70px;
}
/* ----- FOOTER ----- */
footer {
    /* margin-top: 4rem; */
    padding: 0.5rem;
    background-color: var(--prim-200);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
footer form {
    margin: 0;
}
footer input {
    margin-top: 0;
}
.footer-links {
    display: flex;
    gap: 1rem;
}
button {
    color: black;
    background-color: white;
    opacity: .8;
    border-radius: 10px;
    border: 1px black solid;
    padding: 0 12px;
    cursor: pointer;
}
button:hover {
    background-color: whitesmoke;
}
button:disabled {
    opacity: 0.5;
}

/* ----- ABOUT ----- */

.about-grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}
.about-page {
    margin: 3rem auto 0;
    padding: var(--gap);
    max-width: var(--text-width);
}
.about-page p {
    margin-top: 1rem;
}
.about-page h1 {
    text-align: center;
}
.img-center {
    margin: 2rem auto 0;
}