---
layout: base.njk
title: Birds Make Sound | About
---

<div class="about-grid-container">
<div class="top-bar">
    <h1 class="bms"><a href="/">birds make sound</a></h1>
</div>

<div class="about-page">

    <h1>Welcome! 🕊</h1>

    <p>This blog was created by me, <a href="https://parkerdavis.dev/" target="_blank">Parker Davis</a>.</p>

    <p>I started this blog in the summer of 2020 then let it lay dormant for a few years... but it is <strong>BACK</strong>. It's got a fresh new look and fresh posts on the way.</p>

    <p>Feel free to email me at <a href="mailto:parker@birdsmakesound.com">parker@birdsmakesound.com</a></p>

    <img src="/images/LEBI.gif" alt="Least Bittern wiggling" class="img-center">

</div>

{% include "footer.njk" %}
</div>

<script>
    let submitButton = document.getElementById('submitButton')
    document.querySelector("form").addEventListener("submit", event => {
        event.preventDefault();
        let myForm = document.getElementById("form");
        let formData = new FormData(myForm);
        fetch("/", {
            method: "POST",
            headers: { "Content-Type": "application/x-www-form-urlencoded" },
            body: new URLSearchParams(formData).toString(),
        })
            .then(() => {
            console.log("Form successfully submitted");
            submitButton.innerText = "Submitted!";
            submitButton.disabled = true;
            })
            .catch((error) => alert(error));
    });
</script>