---
layout: base.njk
title: Birds Make Sound | About
---

<div class="about-grid-container">
{% include "header.njk" %}

<div class="about-page">

    <h1>Welcome! 🕊</h1>

    <p>This blog was created by me, <a href="https://parkerdavis.dev/" target="_blank">Parker Davis</a>.</p>

    <p>I started this blog in the summer of 2020 then let it lay dormant for a few years... but it is <strong>BACK</strong>. It's got a fresh new look and fresh posts on the way. <a href="/">Click here</a> to see a list of all posts.</p>

    <p>Feel free to email me at <a href="mailto:parker@birdsmakesound.com">parker@birdsmakesound.com</a></p>

    <div class="social-container">
        <a href="https://ebird.org/profile/NDczMDQx/">
            <img src="/images/social-icons/ebird-icon.png" alt="eBird profile" title="eBird profile" class="social-icon">
        </a>
        <a href="https://twitter.com/park_d">
            <img src="/images/social-icons/twitter-icon.png" alt="Twitter profile" title="Twitter profile" class="social-icon">
        </a>
        <a href="https://www.instagram.com/parkd/">
            <img src="/images/social-icons/instagram-icon.png" alt="Instagram profile" title="Instagram profile" class="social-icon">
        </a>
    </div>


    {# <img src="/images/LEBI.gif" alt="Least Bittern wiggling" class="img-center"> #}
    <div class="img-center">
    {% gifImage "images/LEBI.gif", "Least Bittern wiggling" %}
    <figcaption><a href="https://nellsmithwriter.com/">Photo: Nell Smith</a></figcaption>
    </div>
</div>
    <div class="newsletter newsletter-about">
        {% include "newsletter.html" %}
    </div>

{% include "footer.njk" %}
</div>

<script>
    let submitButton = document.getElementById('submitButton')
    document.querySelector("form").addEventListener("submit", event => {
        event.preventDefault();
        let myForm = document.getElementById("form");
        let formData = new FormData(myForm);
        fetch("/", {
            method: "POST",
            headers: { "Content-Type": "application/x-www-form-urlencoded" },
            body: new URLSearchParams(formData).toString(),
        })
            .then(() => {
            console.log("Form successfully submitted");
            submitButton.innerText = "Submitted!";
            submitButton.disabled = true;
            })
            .catch((error) => alert(error));
    });
</script>