---
layout: base.njk
---
<div class="index-container">
    <div class="title">
        <h1 class="huge-title bms">BIRDS MAKE SOUND</h1>
    </div>
    <p class="subtitle">Explorations of birds, sound, and recording.</p>
    <div class="all-posts">
        <h3>All Posts</h3>
        <ul>
            {% for blog in collections.blog | reverse%}
            <li><a href="{{blog.url}}">{{blog.data.title}}</a> <span class="indexDate">{{blog.data.date|readableDate}}</span></li>

            {# {% if blog.data.snippet%}
            <div><span class="snippet">{{blog.data.snippet}}...</span></div>
            {% endif %} #}
            {% endfor %}
        </ul>
    </div>
    <div class="about">
        <a href="/about"><p class="about-link">About</p></a>
        <a href="/feed.xml"><img src="/images/rss-icon.png" class="rss-icon" alt="RSS feed" title="RSS feed"></a>
    </div>


    {# <footer>
        <a href="/">Birds Make Sound</a>
    </footer> #}
</div>