---
layout: base.njk
---

{% include "header.njk" %}

<div class="footer-grid-container">
<main>
    {% if coverImage %}
<div class="cover-image">
    {# <div class="cover-image-bg"> #}
        {% image coverImage, "cover image", "", false %}
    {# </div> #}
    {% if altTitle %}
    <h1><a href="#post-start">{{altTitle}}</a></h1>
    {% else %}
    <h1><a href="#post-start">{{title}}</a></h1>
    {% endif %}
    {% if coverImageAttr %}
    <div class="cover-image-attr"><a href="{{coverImageAttrLink}}">Photo: {{coverImageAttr}}</a></div>
    {% endif %}
</div>
{% endif %}
    {# <div>
        <h1><a href="/">birds make sound</a></h1>
    </div> #}
    <div class="post-container">


        <div class="post-content testtesttest" id="post-start">
            {# {% if not coverImage %} #}
            <h2><a href="{{ site.url }}{{page.url}}">{{title}}</a></h2>
            {# {% endif %} #}
            <p class="authorDate"><span class="author">{{author}}</span> | <span class="date">{{date | readableDate}}</span></p>
            
            {{ content | safe }}
            
            <nav class="page-nav">
            {%- set nextPost = collections.blog | getNextCollectionItem(page) %}
            {%- if nextPost %}
                <a href="{{ nextPost.url | url }}" class="nav-item">
                    <button>
                    <p>Next Post:</p>
                    <p>{{ nextPost.data.title }}</p>
                    </button>
                    
                </a>
            {% else %}
                <div></div>
            {% endif %}

            {%- set previousPost = collections.blog | getPreviousCollectionItem(page) %}
            {%- if previousPost %}
                <a href="{{ previousPost.url | url }}" class="nav-item">
                    <button>
                        <p>Previous Post:</p>
                        <p>{{ previousPost.data.title }}</p>
                    </button>
                </a>
            {% else %}
                <div></div>
            {% endif %}
            </nav>
            <div class="newsletter newsletter-post">
                {% include "newsletter.html" %}
            </div>
        </div>
    </div>
</main>
{% include "footer.njk" %}
{# <footer>
    <p><a href="/">Birds Make Sound</a></p>
</footer> #}
</div>

{# <nav class="site-nav">
    <p>ALL POSTS:</p>
    <ul>
        {% for blog in collections.blog | reverse %}
        <li><a href="{{blog.url}}">{{blog.data.title}}</a></li>
        {% endfor %}
    </ul>
</nav> #}

<script>
    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                // entry.target.classList.add('animate');
                entry.target.style.opacity = 1;
            } else {
                // entry.target.classList.remove('animate');
                entry.target.style.opacity = 0;
            }
        })
    });

    const animatedElements = document.querySelectorAll(".fade-in");
    animatedElements.forEach(el => {
        el.style.opacity = 0;
    })
    animatedElements.forEach(el => observer.observe(el));

    const allPictures =  document.querySelectorAll('img');
    allPictures.forEach(image => {
        // console.log('changed opacity to 0!!!')
        image.style.opacity = 0;
    });

    allPictures.forEach(image => image.addEventListener('load', (event) => {
        // console.log("Image Loaded!");
        event.target.style.opacity="1";
        event.target.style.transition = "opacity 1s";
    }));

    //Backup if image is loaded from the cache;
    allPictures.forEach(image => {
        if (image.complete) {
            // console.log("The image" + image + "is completely loaded!")
            image.style.opacity="1";
            image.style.transition = "opacity 1s";
        }
    })


</script>
